body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.content > h1 {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  max-height: 100px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.header-logo {
  max-width: 150px;
  margin-left: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 100px);
  max-width: 70%;
  margin: auto;
  overflow: scroll;
}

.grid {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-auto-flow: dense;
  grid-gap: 0.5em;
}

/* .grid-item:nth-child(6n + 1) {
  grid-column: span 2;
  grid-row: span 2;
} */

.vertical {
  grid-column: span 1;
  grid-row: span 2;
}

.grid .grid-item,
.grid a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.grid-item {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
}

.grid-item > img {
  width: 100%;
  min-height: 100%;
  transition: all ease 1s;
}

/* .grid div,
#gallery a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.grid-item > a {
  opacity: 0;
  position: absolute;
  color: #000;
  background-color: #000;
  font: bold 4em "Helvetica";
  text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff,
    1px 0px 5px #fff;
  padding: 2rem;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  transition: all ease 1s;
} */
